@font-face {
    font-family: "mta";
    src: url('../style/monofonto\ rg.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: brown;
    font-size: 1.5rem;
    font-family: "mta";
    /* background-image: url('../asset/mta.jpg'); */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: aqua;
    background-color: brown;
    height: 20vh;
    padding: 20px;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

main{
    position: relative;
    top: 20vh;
}

h1, h2{
    width: fit-content;
}

#logo {
    float: left;
    height: 100%;
}

#titres{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-right: 20%;
}

main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    width: 60%;
    background-color: aqua;
    padding: 15px;
    box-shadow: #000 -20px 45px 70px 20px;
    border-radius: 30px;
    margin: 40px;
}

ul{
    margin-left: 20px;
}

#image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    aspect-ratio: 1904/640;
    width: 100vw;
    background-image: url(../asset/library.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 15vh;
}

#image>h2 {
    font-size: 5rem;
    padding-right: 5vw;
    color: aqua;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 38vw;
    width: 20vw;
    background-color: brown;    
    position: fixed;
    left: calc(-20vw - 1vh);
    top: 21vh;
    margin-left: 1vh;
    z-index: 5;
    transition: left 1s;
}

.bouton{
    display: block;
    text-decoration: none;
    width: 80%;
    height: 5vh;
    background-color: aqua;
    color: black;
    text-align: center;
    padding-top: 7px;
    border-radius: 2.5vh;
    background-color: gray;
    color: white;
    box-shadow: white 2px 2px 2px 0;
    transition: box-shadow 500ms;
}

.bouton:hover{
    background-color: gray;
    color: white;
    border: white 2px solid;
    box-shadow: 0 0 2px 0;
}

#trigger {
    position: fixed;
    top: 25vh;
    width: 5vh;
    aspect-ratio: 1;
    background-color: #6c4747;
    border: solid 1px black;
    border-radius: 0 10px 10px 0;
    background-image: url(../asset/mta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#close {
    display: none;
    position: relative;
    top: -8vh;
    left: 10vh;
    width: 5vh;
    aspect-ratio: 1;
    background-color: #6c4747;
    border: solid 1px black;
    border-radius: 5px;
    background-image: url(../asset/mta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}